*{
  margin: 0;
  padding: 0;
  outline: none;
}

/* -------------------preloader----------------- */

#preloader{
  background-color: #ECF0F1;
  height: 100vh;
  width: 100%; 
  position: absolute;
  z-index: 999998;
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
  z-index: 999999;
  
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
@keyframes fadeIn{
  0%{ }
  25%{ opacity: 1;}
  50%{opacity: 1}
  75%{opacity: 0.8;}
  100%{opacity: 0;}
}

/* -------------------preloader ends----------------- */
/* --------------- nav --------------------- */

ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img:not(.logo) {
    width: 100%;
  }
  img {
    display: block;
  }
  
  nav {
    background:white;
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: #49a6e9;;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .nav-toggle:hover {
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .links a {
    color: black;
    font-family: 'Montserrat' , sans-serif;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 500;
  }
  .links a:hover {
    background: hsl(205, 86%, 81%);
    color: #49a6e9;
    padding-left: 1.5rem;

  }
  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .show-links {
    height: 7.8rem;
  }
  @media screen and (min-width: 782px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
      
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 1rem 2rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
  }
  
  
/* -------------------header-------------------------- */
header {
   height: 96vh;
   padding: 0%;
   margin: 0%;
}

header .container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-1 h2 {
    color: #444444;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 4em;
    line-height: 1.3; 
    padding: 15px 0;
    text-align: center;
}
.container-1 p {
    color: #444444;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;  
    margin-bottom: 2em; 
    opacity: 0.9;
    text-align: center;
    padding: 0 7em;
    
}
.container-1 button {
  background-color: #444;
  border: none;
  padding: 18px 57px;
  margin-left: 35%;
  margin-top: 13px;
  clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
  outline: none;
  border-radius: 4px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;  
  font-weight: 600;
  transition: all 0.5s ease;
  
}

.container-1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.container-1 button:hover {
  clip-path: polygon(12% 2%, 1% 87%, 10% 80%, 88% 90%, 94% 4%);
   box-shadow: 0 0 7px 0 rgb(150, 150, 150, 0.7);
   opacity: 0.9;
}
.container-1 img {
 
    width: 500px;
    height: 500px;
    padding-right: 3.5em;
}
/* -------------------header ends-------------------------- */


/* ------------------------ creator ---------------------- */

main {
  height: 85vh;
  padding: 0%;
  margin: 0%;
}

main h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.container-2 {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   margin-top: 4em;
}
.card img{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    padding-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
 background-color: rgb(245, 245, 245);
 width: 70vmin;
 height: 94vmin;
 transition: all 0.4s ease;
 border-radius: 12px;
}
.card:hover {
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
 }
.card h3{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #444444;
  font-size: 25px;
  margin: 1em 0;
 }
.card button{
  margin: 4vmin 0;
  background-color: #444444;
  padding: 1vmin 6vmin;
  border: none;
  color: white;
  clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
  border-radius: 8px 0 8px 0;
  width: 35vmin;
  height: 7vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}
.card button:hover{
   opacity: 0.9;
   transform: translateY(-5%);
}

.card button a{
   color: white;
   font-weight: 550;
   font-family: 'Poppins', sans-serif;
}

/* ------------------------ creator ends ---------------------- */

/* ---------------------Contact------------------------- */

.contact{
  height: 100vh;
  padding: 0%;
  margin: 0%;
}
.contact h1{
 margin-top: 3.5em;
 font-size: 35px;
 text-align: center;
 font-family: 'Poppins', sans-serif;
 margin-bottom: 1.5em;
}

.container-3 {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.text h2{
  font-size: 43px ;
  font-family: 'Poppins', sans-serif;
  margin-top: 3.5em;
}
.text p{
  font-size: 28px ;
  font-family: 'Poppins', sans-serif;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical ;
  font-family: 'poppins' , sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #444444;
  clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
  color: white;
  padding: 12px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'poppins' , sans-serif;
  transition: all 0.4s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* When moving the mouse over the submit button, add a light color */
input[type=submit]:hover {
 opacity: 0.9;
 width: 300px;
}
.container-3 label {
   font-size: 25px;
   font-family: 'poppins' , sans-serif;
   font-weight: 600;
}
.container-3 input {
  width: 500px;
}

/* ---------------------Contact------------------------- */


/* ---------------------- footer-------------------- */
footer{
  min-height: 40%;
  width: 100%;
  color: whitesmoke;
  background-color: #444444;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  bottom: auto;
}
.container-4 h2{
   font-size: 35px;
   font-weight: 600;
   text-align: center;
   padding-top: 1em;
   font-family: 'poppins' , sans-serif;

}

.container-4 a{
   margin: 1.5em 1em;
}

.container-4 .social{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-4 p{
 font-size: 23px;
 font-family: 'poppins' , sans-serif;
 text-align: center;
 margin-top: 1.5em;
 color: rgb(122, 122, 122);
}

/* ---------------------- footer ends-------------------- */




/* -----------------------responsive-------------------- */


@media screen and (max-width: 700px) and (min-width:320px){

header {
    height: 120vh;
    padding: 0%;
    margin: 0%;
 }
 
header .container-1{
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

.container-1 img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1em 0;
}
.container-1 h2 {
  color: #444444;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}
.container-1 p {
  color: #444444;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8; 
  margin-bottom: 3em; 
  text-align: center;
  padding: 0 2em;  
}
.container-1 button {
background-color: #444;
border: none;
padding: 18px 60px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 13px;
clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
outline: none;
border-radius: 4px;
font-size: 22px;
font-family: 'Poppins', sans-serif;  
font-weight: 600;
transition: all 0.5s ease;
}

.container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

main{
   margin-top: 3em;
}
.card img{
   width: 200px;
   height: 200px; 
   border-radius: 50%;
   padding-top: 2em;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.card {
background-color: rgb(245, 245, 245);
width: 90%;
height: 100%;
transition: all 0.4s ease;
border-radius: 12px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}
.card:hover {
 box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}
.card h3{
 font-family: 'Poppins', sans-serif;
 text-align: center;
 color: #444444;
 font-size: 25px;
}
.card button{
 margin: 4vmin 0;
 background-color: #444444;
 padding: 3vmin 6vmin;
 border: none;
 color: white;
 clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
 border-radius: 8px 0 8px 0;
 width: 45vmin;
 height: 10vmin;
 display: block;
 margin-left: auto;
 margin-right: auto;
 transition: all 0.5s ease-in-out;
 font-size: 15px;
 font-weight: 400;
}
.card button:hover{
  opacity: 0.9;
  transform: scale(1.2);
}

.card button a{
  color: white;
  font-weight: 550;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: auto;
}

.contact h1{
  font-size: 35px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  margin-top: 2em;
 
 }
 
 .container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 82vh;
 }


 .text h2{
  font-size: 19px ;
  font-family: 'Poppins', sans-serif;
  margin: 15px 0;
  text-align: center;
  opacity: 0.8;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-bottom: 16px;
  resize: vertical ;
  margin-left: 1.5em;
}
input[type=text] {
  width: 90%!important;
}
 textarea {
  width: 90%;
} 

input[type=submit] {
  background-color: #444444;
  clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
  color: white;
  margin: auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'poppins' , sans-serif;
  transition: all 0.4s ease;
  display: block;
} 

/* When moving the mouse over the submit button, add a light color */
 input[type=submit]:hover {
 opacity: 0.9;
 width:330px;
}
.container-3 label {
   font-size: 20px;
   font-family: 'poppins' , sans-serif;
   font-weight: 500;
   margin-left: 1.5em;
}
.container-3 input {
  width: 300px;
} 

.container-4 p{
  font-size: 19px;
 }

 footer{
  margin-top: auto;
}
}


@media screen and (max-width: 1100px) and (min-width:701px){

  header {
    height: 80vh;
    padding: 0%;
    margin: 0%;
 }

.container-1 h2 {
    color: #444444;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 1em;
    margin-top: 4em;
   
}
.container-1 p {
    color: #444444;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-left: 1.6em; 
    opacity: 0.8; 
    margin-bottom: 3em; 
    padding: 0;
}
.container-1 button {
  background-color: #444;
  border: none;
  padding: 15px 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
  outline: none;
  border-radius: 4px;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;  
  font-weight: 500;
  transition: all 0.5s ease;
}
.container-1 img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5em;
} 

.container-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
.card img{
   width: 200px;
   height: 200px; 
   border-radius: 50%;
   padding-top: 2em;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.card {
background-color: rgb(245, 245, 245);
width: 40%;
height: 90%;
transition: all 0.4s ease;
border-radius: 12px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}
.card:hover {
 box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}
.card h3{
 font-family: 'Poppins', sans-serif;
 text-align: center;
 color: #444444;
 font-size: 25px;
}
.card button{
 margin: 4vmin 0;
 background-color: #444444;
 padding: 2.5vmin 5vmin;
 border: none;
 color: white;
 clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
 border-radius: 8px 0 8px 0;
 width: 30vmin;
 height: 7vmin;
 display: block;
 margin-left: auto;
 margin-right: auto;
 transition: all 0.5s ease-in-out;
 font-size: 15px;
 font-weight: 400;
}
.card button:hover{
  opacity: 0.9;
  transform: translateY(-5%);
}

.card button a{
  color: white;
  font-weight: 550;
  font-family: 'Poppins', sans-serif;
} 


.contact h1{
  font-size: 35px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 2em 0;
 }
 
.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75vh;
  margin: auto;
}


.text h2{
font-size: 31px ;
font-family: 'Poppins', sans-serif;
margin-top: 4em;
text-align: center;
opacity: 0.8;

}

input[type=text], select, textarea {
width: 100%;
padding: 12px; 
border: 1px solid #ccc; 
border-radius: 4px;
box-sizing: border-box; 
margin-bottom: 16px;
resize: vertical ;
margin-left: 1.5em;
}
input[type=text] {
width: 90%!important;
}
textarea {
width: 90%;
} 

input[type=submit] {
background-color: #444444;
clip-path: polygon(0% 0%, 5% 100%, 99% 100%, 94% 4%);
color: white;
margin: auto;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 20px;
font-family: 'poppins' , sans-serif;
transition: all 0.4s ease;
display: block;
width: 250px!important;
} 

/* When moving the mouse over the submit button, add a light color */
input[type=submit]:hover {
opacity: 0.9;
width:330px;
}
.container-3 label {
 font-size: 20px;
 font-family: 'poppins' , sans-serif;
 font-weight: 500;
 margin-left: 1.5em;
}
.container-3 input {
width: 300px;
} 

 footer{ 
   margin: auto;
}

}