*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

/* -------------------preloader----------------- */

#preloader{
  background-color: #ECF0F1;
  height: 100vh;
  width: 100%; 
  position: absolute;
  z-index: 98;
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
  z-index: 99;
  
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
@keyframes fadeIn{
  0%{ }
  25%{ opacity: 1;}
  50%{opacity: 1}
  75%{opacity: 0.8;}
  100%{opacity: 0;}
}

/* -------------------preloader ends----------------- */
/* --------------- nav --------------------- */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  background:white;
  width: 100%;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #49a6e9;;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}


.logo1 {
  height: 60px;
  margin-left: 2em;
  padding: 0;
  display: none;
}

.links a {
  color: black;
  font-family: 'Montserrat' , sans-serif;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 500;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: #49a6e9;
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.show-links {
  height: 7.8rem;
}
@media screen and (min-width: 1200px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 1rem 2rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
/* -----------------------search-box----------------- */
.search-box {
  background-color: #2f3640;
  height: 40%;
  border-radius: 5px;
  padding: 8px;
  margin-left: 18em;
}
.input-box {
  background: none;
  border: none;
  float: left;
  font-size: 16px;
  padding: 0;
  color: #fff;
  transition: 0.4s ease;
  line-height: 20px;
  width: 180px;
}

.btn {
  color: #eee;
  float: right;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
 }


/* --------------- nav ends--------------------- */


/* ------------------ saved popup ------------------- */

.saved-container  {
  position: absolute;
  width: 27%;
  height: 18em;
  background: linear-gradient(#f5f7fa , #b8c6db);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
   box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2);
   z-index: 100;
   margin: auto;

   left:37%;
   top: -400px;  
   animation: drop 0.8s ease-in forwards;
   -moz-animation: drop 0.8s ease-in forwards;
   -webkit-animation: drop 0.8s ease-in forwards;
   -ms-animation: drop 0.8s ease-in forwards;
   
   visibility: hidden;

}

@keyframes drop{
  0%{ opacity: 0;}
  70%{transform: translateY(490px); opacity: 0; 
    box-shadow: 20px 20px 10px 0px rgba(50, 30, 30, 0.2);
  }
  100%{transform: translateY(486px); opacity: 1;
    box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2)
  }
}

 .pallete-input {
  width: 300px;
  padding: 12px; 
  color: #444;
  border: none; 
  border-radius: 4px;
  font-size: 13px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical ;
  font-family: 'Montserrat' , sans-serif;
  box-shadow:  0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

input[type=submit ] , input[type=reset ] {
  background-color: #444444;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Montserrat' , sans-serif;
  transition: all 0.4s linear;
  margin: 1em ;
}
 
input[type=submit ]:hover {
  background-color: white;
  color: #444444;
}

input[type=reset ]:hover {
  background-color: white;
  color: #444444;
}
.saved-container h2  {
    font-size: 21px;
    color: #2f3640!important;
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0;
}
/* ------------------ saved popup ends ------------------- */

.color-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

 .color {
    display: flex;
    flex: 25%;
    transition: 0.3s linear;
    min-height: 220px;
    cursor: pointer;
    position: relative;
}

.color:hover {

    
    transform: translateY(-0.8%);

}

.color button {

    bottom: 20%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: whitesmoke;
    background: #000;
    justify-content: space-around;
    border: none;
    width: 50%;
    height: 10%;
    cursor: pointer;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 3px 3px 1px 0px rgba( 0, 0 ,0 , 0.09) ;
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}


.refresh {

    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 15px ;
    color: rgb(233, 233, 233);
    background-color: black;
    outline: none;
    cursor: pointer;
    transition: 0.4s linear;
}

.save {

  position: absolute;
  top: 20px;
  right: 80px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 15px ;
  color: rgb(233, 233, 233);
  background-color: black;
  outline: none;
  cursor: pointer;
  transition: 0.4s linear;
}

.refresh:hover {

   transform: rotate(180deg);
}

.copied, .pcopy , .pncopy{

    position: fixed;
    bottom: 30px;
    display: block;
    color: #fff;
    background-color: #000;
    padding: 10px 25px;
    min-width: 280px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px 0 10px 0;
    box-shadow: 5px 5px 3px 0px rgba( 0, 0 ,0 , 0.09) ;
    font-size: 13px;
    outline: none;
    margin-left: 40%;
    visibility: hidden;
}

.fade-in {
  animation: fadeIn ease-in-out 2s;
  -webkit-animation: fadeIn ease-in-out 2s;
  -ms-animation: fadeIn ease-in-out 2s;
  -moz-animation: fadeIn ease-in-out 2s;
  
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.15);
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
 
}


.saved {

  position: fixed;
  bottom: 50%;
  display: block;
  color: #fff;
  background-color: #000;
  padding: 10px 25px;
  min-width: 280px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px 0 10px 0;
  box-shadow: 5px 5px 3px 0px rgba( 0, 0 ,0 , 0.09) ;
  font-size: 13px;
  outline: none;
  margin-left: 40%;
  z-index: 101;
  visibility: hidden;
}

 /* ---------------- Responsive ---------------- */


 

  @media screen and (max-width: 800px ) {
      
    .nav-header {
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
    }

    .logo {
      height: 20px;
      display: none;
    }
    
    .logo1 {
      height: 50px;
      width: 50px;
      display: block;
    }

  .save {
    left: 20px ;
  }

  .color-container { 
    display: flex;
    flex-direction: column;
}
  
  
  .color{
         height: 5vh;
     }

     .color button {

        width: 30%;
        height: 25%;
        margin-left: 40% ;
        }
     .copied , .pcopy, .pncopy{   
        margin-left: 30%;
        min-width: 250px;
        font-size: 10px;
        outline: none;
        bottom: 50px;
     }
     .saved {   
      margin-left: 35%;
      min-width: 250px;
      font-size: 10px;
      outline: none;
      bottom: 50%;
   }
     .search-box {
      background-color: #2f3640;
      height: 40%;
      border-radius: 5px;
      padding: 8px;
    }
    .input-box {
      background: none;
      border: none;
      float: left;
      font-size: 16px;
      padding: 0;
      color: #fff;
      transition: 0.4s ease;
      line-height: 20px;
      width: 160px;
    }

    .btn {
     color: #eee;
     float: right;
     text-decoration: none;
     text-align: center;
    }

   
.refresh {
    right: 20px;

}

 
  } 


 @media screen and (max-width: 1200px ) and (min-width: 802px ) {

  .save {
    left: 20px ;
  }

  .color-container { 
    display: flex;
    flex-direction: column;
}
  
  
  .color{
         height: 5vh;
     }

     .color button {

        width: 30%;
        height: 25%;
        margin-left: 40% ;
        }
     .copied {   
        margin-left: 30%;
        min-width: 250px;
        font-size: 10px;
        outline: none;
        bottom: 50px;
     }
     .saved {   
      margin-left: 35%;
      min-width: 250px;
      font-size: 10px;
      outline: none;
      bottom: 50%;
   }
     .search-box {
      background-color: #2f3640;
      height: 40%;
      border-radius: 5px;
      padding: 8px;
      margin-left: 0;
    }
    .input-box {
      background: none;
      border: none;
      float: left;
      font-size: 16px;
      padding: 0;
      color: #fff;
      line-height: 20px;
      width: 160px;
    }

    .btn {
     color: #eee;
     float: right;
     text-decoration: none;
     text-align: center;
    }
 
  } 

 @media screen and (max-width: 500px){
  
  .nav-header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }

  .logo {
    height: 40px;
    display: none;
  }
  
  .logo1 {
    height: 45px;
    width: 50px;
    display: block;
  }
  

  .save {
    left: 20px ;
  }
 
  .color button {

      font-size: 15px;
      font-weight: 500;
}
    .copied, .pcopy , .pncopy{   
      margin-left: 25%;
        min-width: 180px;
        font-size: 9px;
     }
     .saved {   
        margin-left: 25%;
        min-width: 180px;
        font-size: 9px;
     }
     .refresh {
        bottom: 50px;
        width: 35px;
        height: 35px;
        font-size: 13px;
     }

     .search-box {
      background-color: #2f3640;
      height: 40%;
      border-radius: 5px;
      padding: 8px;
      margin-left: 0;
    }
    .input-box {
      background: none;
      border: none;
      float: left;
      font-size: 16px;
      padding: 0;
      color: #fff;
      transition: 0.4s ease;
      line-height: 20px;
      width: 130px;
    }

    .btn {
     color: #eee;
     float: right;
     text-decoration: none;
     text-align: center;
     transition: all 0.3s linear;
    }
  

 
 }
  @media screen and (max-width: 320px){
    
    .color button {
      font-size: 10px;
      height: 20vmin;
    }
 }
 @media (max-width: 1200px) {
  .search-box {
    background-color: #2f3640;
    height: 40%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 23em;
  }
}
@media (max-width: 800px) {
  .search-box {
    background-color: #2f3640;
    height: 40%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 13em;
  }
}
@media (max-width: 620px) {
  .search-box {
    background-color: #2f3640;
    height: 40%;
    border-radius: 5px;
    padding: 8px;
    margin-left: 3em;
  }
}
 
@media (min-width: 1060px) {
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: block;
  }
  .container {
    padding: 2.5rem 10rem;
  }
  html {
    font-size: 72.5%;
  }
  
}

@media screen and (max-width: 600px) and (min-width: 360px) {
 
  
.saved-container  {
  position: absolute;
  width: 50%;
  height: 11em;
  background: linear-gradient(#f5f7fa , #b8c6db);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
   box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2);
   z-index: 1;
   margin: auto;
   left:25%;
   top: -400px;  
   animation: drop 0.8s ease-in forwards;
   visibility: hidden;
}

@keyframes drop{
  0%{ opacity: 0;}
  70%{transform: translateY(490px); opacity: 0; 
    box-shadow: 20px 20px 10px 0px rgba(50, 30, 30, 0.2);
  }
  100%{transform: translateY(486px); opacity: 1;
    box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2)
  }
}

 .pallete-input {
  width: 160px;
  padding: 9px; 
  color: #444;
  border: none; 
  border-radius: 4px;
  font-size: 13px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical ;
  font-family: 'Montserrat' , sans-serif;
  box-shadow:  0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

input[type=submit ] , input[type=reset ] {
  background-color: #444444;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  font-family: 'Montserrat' , sans-serif;
  transition: all 0.4s linear;
  margin: 1em ;
}
 
input[type=submit ]:hover {
  background-color: white;
  color: #444444;
}

input[type=reset ]:hover {
  background-color: white;
  color: #444444;
}
.saved-container h2  {
    font-size: 16px;
    color: #2f3640!important;
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0;
}
/* ------------------ saved popup ends ------------------- */


}



@media screen and (max-width: 1200px) and (min-width: 601px) {
 
  
  .saved-container  {
    position: absolute;
    width: 20em;
    height: 12em;
    background: linear-gradient(#f5f7fa , #b8c6db);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
     box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2);
     z-index: 1;
     margin: auto;
     left:33%;
     top: -400px;  
     animation: drop 0.8s ease-in forwards;
     visibility: hidden;
  }
  
  @keyframes drop{
    0%{ opacity: 0;}
    70%{transform: translateY(490px); opacity: 0; 
      box-shadow: 20px 20px 10px 0px rgba(50, 30, 30, 0.2);
    }
    100%{transform: translateY(486px); opacity: 1;
      box-shadow: 4px 4px 10px 0px rgba(50, 30, 30, 0.2)
    }
  }
  
   .pallete-input {
    width: 200px;
    padding: 9px; 
    color: #444;
    border: none; 
    border-radius: 4px;
    font-size: 13px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
    font-family: 'Montserrat' , sans-serif;
    box-shadow:  0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  }
  
  input[type=submit ] , input[type=reset ] {
    background-color: #444444;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat' , sans-serif;
    transition: all 0.4s linear;
    margin: 1em ;
  }
   
  input[type=submit ]:hover {
    background-color: white;
    color: #444444;
  }
  
  input[type=reset ]:hover {
    background-color: white;
    color: #444444;
  }
  .saved-container h2  {
      font-size: 16px;
      color: #2f3640!important;
      font-family: 'Montserrat', sans-serif;
      padding: 1em 0;
  }
  /* ------------------ saved popup ends ------------------- */
  
  
  }
  

  /* ---------------- Responsive ends ---------------- */


/******* code for toggle save unsave ****/


.pallete_saved {
  color: darkslateblue !important;
}